<!DOCTYPE html>
<html >
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171530007-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-171530007-1');
        </script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/vue-router"></script>
        <script src="https://unpkg.com/@chenfengyuan/vue-countdown@1.1.5"></script>
        <link rel="stylesheet" href="css/countdown.css">
    </head>

    <body>
        <div id="app" class="container">
            <countdown :time="time" :interval="100" tag="p">
                <template slot-scope="props">
                    <h1 v-if="title" >{{title}}</h1>
                    <ul>
                        <li><span id="days">{{ props.days }}</span>days</li>
                        <li><span id="hours">{{ props.hours }}</span>Hours</li>
                        <li><span id="minutes">{{ props.minutes }}</span>Minutes</li>
                        <li><span id="seconds">{{ props.seconds }}</span>Seconds</li>
                    </ul>
                </template>
            </countdown>
            <div v-if="target > 0">
                Until {{target.toUTCString()}}
            </div>
        </div>

        <script>
            Vue.component(VueCountdown.name, VueCountdown);

            var router = new VueRouter({
                mode: 'history'
            })

            var app = new Vue({
                el: '#app',
                data: function () {
                    var target = new Date(0)
                    target.setUTCSeconds(this.$route.query.t)

                    var now = new Date();
                    return {
                        time: target - now,
                        target: target,
                        title: this.$route.query.title
                    };
                },
                router
            });
        </script>
    </body>
</html>
